@model demomilk.Models.Route

@{
    Layout = null;
}

<!DOCTYPE html>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddArea_Route</title>
</head>
<body>
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h2>Add Route</h2>
                <button type="button" class="close" data-dismiss="modal" onclick="abc()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-control" style="border-color: #ffffff;">
                    <label>City:</label>
                    <select id="DropdownCity" class="form-control r-0 light s-12">
                        <option value="1">Pune</option>
                    </select>
                </div>
                <div class="form-control" style="border-color: #ffffff;">
                    <label>Area:</label>
                    <div>
                        @Html.TextBoxFor(a => a.Area, new { @class = "form-control r-0 light s-12", placeholder = "Enter Area", title = "Area", @id = "Area" })
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <input class="btn-primary" type="submit" id="btnsave" value="Save" title="ClickToSave" />
                <input type="button" class="btn-danger" id="btncancel" value="Cancel" title="ClickToCancel" data-dismiss="modal" onclick="abc();" />

            </div>
        </div>
    </div>
</body>
</html>
<script>
    function abc()
    {
        refresh();
        $('.modal-backdrop').remove();
    }
    $('#btnsave').on('click', function () {

    $.ajax({
        type: 'POST',
        dataType: 'json',
        url: '/Home/AddArea_Route',

        data:
        {
            City: 1,
            Area: $("#Area").val(),


        },
        success: function (da) {

            alert(da);
            refresh();
            $("#mdlAddRoute .close").click()
            $('.modal-backdrop').remove();

        },

        error: function (XMLHttpRequest, textStatus, errorThrown) {

        }
    });
    });

     function refresh()
    {
      
        $.ajax({
            url: "@Url.Action("LoadDataForArea", "Home")",
            contentType: "application/json",
            data: JSON.stringify({ page: con }),
            dataType: "text",
            type: "POST",
            async: true,
            success: function (data) {
                $('#grid1').html(data);
              
            },
            error: function (data) {
               
            },
            complete: function () {
                


            }

        });
    }

</script>